:root {
    --bg-color: #212529;
    --secondary-color: #343a40;
    --bs-nav-pills-link-active-bg: #343a40;
    --accent-color: #486581;
}

* {
    padding: 0;
    margin: 0;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

*::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

*, *:before, *:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    background-color: var(--bg-color);
    color: #f8f9fa;
    height: max-content;
}

button {
    border: none;
    outline: none;
    background: none;
}

.cascadia-mono-site {
    display: flex;
    flex-direction: column;
    padding: 6rem 18rem;
    justify-content: space-evenly;
    font-family: "Cascadia Mono", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: 2rem;
}

.header {
    display: flex;
    height: fit-content;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.header > img {
    filter: drop-shadow(4px 0px 1px black);
    height: 100%;
    width: 25%;
}

.header-text {
    width: 75%;
    display: flex;
    flex-direction: column;
    font-size: 4rem;
    font-weight: 400;
    filter: drop-shadow(4px 0px 1px black);
}

.title, .subtitle {
  width: fit-content;
}

.title {
  align-self: end;
}

.subtitle {
    align-self: end;
}

hr {
    width: 100%;
    color: var(--accent-color);
}

.header hr {
  width: 90%;
  align-self: flex-end;
}

#about {
    text-align: justify;
    font-size: 1.5rem;
}

.content {
    padding: 12px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.buttons {
    align-self: center;
    padding-bottom: 1rem;
    font-size: 1.2rem;
}

.buttons button {
    background-color: var(--secondary-color);
    color: #f8f9fa;
    padding: 8px;
    border-radius: 12px;
    outline: none;
    filter: drop-shadow(8px 8px 8px #16181b);
}

.cards {
    background-color: var(--secondary-color);
    padding: 2rem;
    border-radius: 12px;
    filter: drop-shadow(8px 8px 8px #16181b);
    z-index: 3;
}

.card {
    margin: 2rem 0;
}

.cascadia-mono-hi {
    font-family: "Cascadia Mono", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
}

.quotes {
    font-style: italic;
    font-weight: 400;
}

.btn {
    font-size: 1.5rem;
}

.accordion {
    --bs-accordion-bg: var(--secondary-color);
    --bs-accordion-active-bg: var(--secondary-color);
    --bs-accordion-active-color: white;
    --bs-card-border-color: none;
    --bs-accordion-btn-focus-box-shadow: none;
}

.accordion-button:after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

.schools {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap;
    text-align: justify;
}

.schools > div {
    flex: 1;
    min-width: 250px; 
    text-align: center;
    padding: 1rem;
    box-sizing: border-box;
}

.logo img {
    width: 20vw;      
    height: 100px;     
    object-fit: contain; 
    display: block;
    margin: 0 auto 1rem auto;
    filter: drop-shadow(1px 5px 12px black);

}

.accordion-body {
    text-align: start;
    font-size: 1.3rem;
}

#accordions {
    margin-top: 1rem;
}

#navbar {
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: #3d556ca5;
    border-radius: 0 0 0.375rem 0.375rem;
    color: #102a43;
    width: 75%;
    margin: auto;
}

.exp-text {
    font-size: 1.5rem;
}

.exp-images {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 1rem 0;
    gap: 5rem;
}

.exp-images img {
    max-width: 35%;
    height: auto;
    flex: 1 1 auto;
    object-fit: unset;
}

a {
    padding: 0;
    margin: 0;
    color: inherit; 
    text-decoration: inherit; 
}

.socials {
    display: flex;
    flex-grow: 1;
    gap: 1rem;
    justify-content: flex-end;
}

#github-link, #linkedin-link, #email-link, #phone-link {
    height: 25px;
    width: auto;
}

#github-link {
    content: url(images/github-mark-white.png);
}

#linkedin-link {
    content: url(images/InBug-White.png);
}

#email-link {
    content: url(images/icons8-email-50.png);
}

#phone-link {
    content: url(images/icons8-phone-50.png);
}

.container {
    margin: 0;
    width: 100%;
}

@media (min-width: 576px), (min-width: 768px), (min-width: 992px), (min-width: 1200px), (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: none;
    }
}

.card-button {
    background-color: var(--secondary-color);
    text-align: center;
    text-decoration: none;
    color: #f8f9fa;
}

.card-img-top {
  height: 100%;
  width: 95%;
  margin: auto;
  margin-top: 2.5%;
}

.card-button:hover {
    background-color: #3c4147;
}

.card-btns {
    display: flex;
    justify-content: space-evenly;
}

.card-btns > a:nth-child(1), 
.card-btns > a:nth-child(3) {
    width: 100%;
}

.vr {
    width: 5px;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: var(--bs-nav-pills-link-active-color);
    background-color: var(--bg-color);
}

.nav-link {
    color: white;
}

body {
    background: linear-gradient(rgb(33, 37, 41) 0%, rgb(52, 58, 64) 80%, rgb(33, 37, 41) 100%);
}

.card-text, .list-group-item {
    font-size: 1.25rem;
    text-align: justify;
}

.list-group-item {
    background-color: var(--bg-color);
}

.card-body, .card-header {
    background-color: var(--secondary-color);
    border-radius: 0 0 0.375rem 0.375rem;
}

.card-button, .card-btns {
    display: none;
}

.card, .display-1 {
    filter: drop-shadow(1px 5px 12px black);
}

.accented-text {
    color: var(--accent-color);
}

.text-shadow {
    filter: drop-shadow(2px 0px 1px black);
}

.thumbnail-container {
    position: relative;
    background-color: var(--secondary-color);
    border-radius: 0.375rem 0.375rem 0 0;
}

.image {
    opacity: 1;
    display: block;
    /*width: 100%;*/
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    border-radius: 0.375rem;
}


.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.middle-double {
    border-radius: 0;
}

.thumbnail-container:hover .image {
    opacity: 0.3;
    filter: drop-shadow(1px 5px 12px black);
}

.thumbnail-container:hover .middle {
    opacity: 1;
}

.text {
    background-color: var(--secondary-color);
    color: white;
    font-size: 16px;
    padding: 16px 32px;
    border-radius: 0.375rem;
    opacity: 0.8;
    transition: 0.3s;
}

.text:hover {
    opacity: 1;
}

.card {
    --bs-card-border-width: none;
}